@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova-RegularIt.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Proximanova";
  src: url("../fonts/ProximaNova-Semibold.ttf") format("trueType");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
